* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

#grid-container {
    width: 660px;
    height: 660px;
    border: 10px black solid;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.grid-square{
    background-color: white;    
}
